/******************** Font ********************/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

/******************** General ********************/

body {
    font-family: 'Lato', sans-serif;
}

.textGold {
    color: rgb(197, 179, 88);
}

hr {
    background-color: rgb(197, 179, 88);
}

.col-12 {
    padding: 0;
}

.borderDark {
    border: 1px solid rgba(52, 58, 64, 0.5);
}

/******************** Navbar ********************/

.fa-globe {
    font-size: 4rem;
}

/******************** Map ********************/

#map {
    height: 75vh;
    max-width: 90vw;
    margin: auto;
}

.closeModal {
    cursor: pointer;
}

/******************** Map Modal ********************/

#myModal {
    background-color: rgba(52, 58, 64, 0.5);
}

.modal-content {
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(250, 250, 249, 0.1);
    border-radius: 1rem;
    max-height: 100vh;
}

.mapModalButton {
    color: #343a40;
    height: 60px;
    width: 200px;
    text-align: center;
    border: 1px solid rgba(52, 58, 64, 0.5);
    margin: 10px auto;
    border-radius: 1rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.mapModalButton:hover,
.mapModalButton:focus {
    opacity: 0.8;
    outline: 0;
}

.closeModal {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 10px;
    color: rgb(250, 250, 249);
    width: 30px;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.closeModal:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

#home,
.home {
    background-color: #6eca29;
}

#resided,
.resided {
    background-color: #29c290;
}

#visited,
.visited {
    background-color: #1fb0ea;
}

#not-visited,
.notVisited {
    background-color: rgb(197, 179, 88);
}

#plan-to-visit,
.wantToVisit {
    background-color: #707095;
}

#will-not-visit,
.willNotVisit {
    background-color: #a7445b;
}

#resetBtn {
    background-color: #f99907;
}

#closeBtn {
    background-color: rgb(250, 250, 249);
}

#modalHeader {
    text-align: center;
    color: rgb(197, 179, 88);
    text-transform: uppercase;
    border-top: 1px solid rgb(197, 179, 88);
    border-bottom: 1px solid rgb(197, 179, 88);
    -webkit-text-stroke: 1px #343a40;
}

/******************** Legend ********************/

.legendIcon {
    height: 50px;
    padding-top: 14px;
    color: #343a40;
}

.legendIcon h6 {
    font-weight: bold;
}

/******************** Board ********************/

.board {
    min-height: 100px;
}

.board-bubble,
.board-header {
    color: rgb(52, 58, 64);
    display: block;
    height: auto;
    width: 125px;
    border-radius: 0.25rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin-top: 10px;
}

.bubble-text {
    position: relative;
    top: 20%;
}

ul {
    text-align: center;
    list-style: inside;
    list-style: none;
}

/******************** Charts ********************/

.charts h5 {
    text-align: center;
    width: 75%;
    margin: auto;
    border-top: 1px solid rgb(197, 179, 88);
    border-bottom: 1px solid rgb(197, 179, 88);
    -webkit-text-stroke: 0.5px #343a40;
}

text {
    fill: #c5b358;
}

/******************** Footer ********************/
